Package: com.0xilis.libneoapplearchive
Name: libNeoAppleArchive
Depends: firmware (>= 7.0), openssl
Version: 0.0.3
Architecture: iphoneos-arm
Description: Cross-compat Open-Source library for parsing Apple Archive + Apple Encrypted Archive
Maintainer: Snoolie K
Author: Snoolie K
Section: System
Tag: role::developer
